@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row">
            <h1>CloudUnify</h1>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>